body {
  background-color: #EDEEC0;
  color: #34495e;
  position: relative;
  overflow-x: hidden;
}

h1 {
  color: #34495e;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 4em;
  padding: 5% 0% 0%; 
  text-align: center;
}

h2 {
  color: #34495e;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  padding: 2% 0% 0%;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #34495e;
  color: #EDEEC0;
  text-align: center;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  }
